{% extends "base.html" %}
{% block title %}
  {{ block.super }} | about-me
{% endblock title %}
{% block content %}}
<section class="main-content">
    <div class="padding">
        <div class="container">
            <div class="about-me">
                <div class="avatar text-center"><img src="/media/images/mehrab.jpeg" alt="Avatar" class="img-circle"></div><!-- /.avatar -->

                <div class="details">
                    <div class="details-top text-center">
                        <h2 class="section-title">About me</h2><!-- /.section-title -->
                    </div><!-- /.details-top -->
                    <p>
                        <b>start a story...</b>
                    </p>
                    <p>Hello to everyone my name is mehrab a programmer from IR</p>
                    <p>I love so many things in the world,I'm a geek and a programmer. if I wnat to name my first degree, I must say <b>Freedom</b></p>
                    <blockquote>
                        "web developing ,reading books and Of course guitar playing is the best funny things in my life : )"
                    </blockquote>
                    <p>
                            I have a dream.
                            I must continuously acquire knowledge.
                            I must Hard work and have perseverance.
                            Should not be afraid of problems.
                    </p>
                    <p>
                        I started web development when I have 14 years old and I learn more things every day : )
                    </p>
                    <p>
                        I hope for <b>freedom</b> 
                    </p>
                    <p>
                        <b>Thanks for reading this text</b>
                    </p>
                </div><!-- /.details -->
                
                <div class="social text-center">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div><!-- /.about-me -->
        </div><!-- /.container -->
    </div><!-- /.padding -->
</section><!-- /.main-content -->


{% endblock content %}
