{% extends "base.html" %}
{% block title %}
  {{ block.super }} | categories
{% endblock title %}
{% block content %}
  
<section class="main-content">
    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="categories text-center">
                    <div class="details-top">
                    <h2 class="section-title">Categories</h2><!-- /.section-title -->
                    </div><!-- /.details-top -->
                    {% for category in categories %}
                    <div class="col-sm-4">
                        <article class="post type-post">
                            <div class="entry-thumbnail"><img src="/media/{{category.picture}}" alt="Thumbnail Image"></div><!-- /.entry-thumbnail -->
                            <div class="entry-content">
                            <span class="category"><a href="{% url 'blog:catposts' category.id %}">{{category.name}}</a></span><!-- /.category -->
                                <h2 class="entry-title"><a href="standard.html">{{category.name}}</a></h2><!-- /.entry-title -->
                                <p>
                                    {{category.description}}
                                </p>

                                <a href="standard.html" class="btn">Read more</a><!-- /.btn -->
                            </div><!-- /.entry-content -->
                        </article><!-- /.post -->
                    </div>
                    {% endfor %}
                </div><!-- /.categories -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.padding -->
</section><!-- /.main-content -->

{% endblock content %}