<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for post in posts %}
      <h1>{{post.title}}</h1>
      <p>owner : {{post.owner}}</p>
      <hr>
      <img src="/media/{{post.picture}}" alt="{{post.title}}">
      <p>{{post.content}}</p>
      <hr>
      {% for comment in comments %}
        <p>owner : {{comment.owner}}</p>
        <p>{{comment.text}}</p>
        <hr>
      {% endfor %}
    {% endfor %}
</body>
</html>